
<div class="content-view page-content-view cart-page">
<div class="breadcrumps">
  <a href="#">Главная</a>
  <a href="#">Каталог</a>
  <a href="#">Чай "Ассам №17"</a>
</div>

<h1>Моя корзина</h1>
<form>
<div class="tabs-holder">
  <ul>
    <li><a href="#active">В заказе</a></li>
    <li class="delayed-tab">
      <a href="#delayed">Отложенные</a>
      <span>Отложенный товар у не авторизованных пользователей хранится, только, 12 часов. </span>
    </li>
  </ul>
  <div id="active">
    <table width=100%>
      <thead>
      <tr>
        <th>Фото</th>
        <th>Наименование</th>
        <th>Скидка</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Действие</th>
      </tr>
      <thead>
      <tr>
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" />
        </td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
            <i class="minus"></i>
            <input type="text" name="count" value="1">
            <i class="plus"></i>
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="delay">Отложить</a>
        </td>
      </tr>
      <tr class="even">
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" /></td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
          <i class="minus"></i>
          <input type="text" name="count" value="1">
          <i class="plus"></i>
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="delay">Отложить</a>
        </td>
      </tr>
      <tr>
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" /></td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
          <i class="minus"></i>
          <input type="text" name="count" value="1">
          <i class="plus"></i>
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="delay">Отложить</a>
        </td>
      </tr>
      <tr class="even">
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" /></td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
          <i class="minus"></i>
          <input type="text" name="count" value="1">
          <i class="plus"></i>
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="delay">Отложить</a>
        </td>
      </tr>
      <tr>
        <td><br /><br /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="table-footer">
      <a href="#" class="action-back">Вернуться в каталог</a>
      <table class="summary">
        <tr>
          <td>Общая стоимость товаров:</td>
          <td class="price_placeholder regular_price value-small"><div class="loader"></div><div class="ruble">2130</div></td>
        </tr>
        <tr>
          <td>Стоимость товаров с учетом скидок:</td>
          <td class="price_placeholder discount_price value-small"><div class="loader"></div><div class="ruble">2100</div></td>
        </tr>
        <tr class="result">
          <td>Итого</td>
          <td class="price_placeholder total_price"><div class="loader"></div><span class="value ruble">2100</span></td>
        </tr>
        <tr>
          <td colspan="2"><button>Оформить заказ</button></td>
        </tr>
        <tr >
          <td class="order-clarification" colspan="2"><div>Нажмите на кнопку чтобы перейти к заказу</div></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="delayed">
    <table width=100%>
      <thead>
      <tr>
        <th>Фото</th>
        <th>Наименование</th>
        <th>Скидка</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Действие</th>
      </tr>
      <thead>
      <tr>
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" /></td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
          5 шт
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="to-cart">В заказ</a>
        </td>
      </tr>
      <tr class="even">
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" /></td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
          1 шт
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="to-cart">В заказ</a>
        </td>
      </tr>
      <tr>
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" /></td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
          3 шт
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="to-cart">В заказ</a>
        </td>
      </tr>
      <tr class="even">
        <td class="picture">
          <div class="plate"><span>Товар удален из корзины. <a href="/index/cart_add.json">Восстановить</a></span></div>
          <img src="<%=asset_path('cart-item-img.png')%>" /></td>
        <td class="name">
          <a href='#'>Ассам №17</a><br />
          <span>Артикул: 277284</span>
        </td>
        <td class="discount"></td>
        <td class="price">
          <span attr-initial-value="1800" class="value ruble">1800</span>
        </td>
        <td class="amount">
          1 шт
        </td>
        <td class="actions">
          <a href='/index/cart_delete.json' class="remove">Удалить</a><br />
          <a href='#' class="to-cart">В заказ</a>
        </td>
      </tr>
      <tr>
        <td><br /><br /></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="table-footer">
      <a href="#" class="action-back">Вернуться в каталог</a>
    </div>
  </div>
</div>

<div class="separator"></div>
</form>
</div>