  <div class="sidebar">
    <div class="news">
      <div class="news-archive">
        <div class="block-header">Архив новостей</div>
        <div class="years">
          <span>2015</span>
          <span><a href="/news/~2014.0/" title="2014 год">2014</a></span>
        </div>
        <div class="months">
          <span title="Январь">01</span>
          <span class="current"><a href="/news/~2015.02/" title="Февраль">02</a></span>
          <span title="Март">03</span>
          <span title="Апрель">04</span>
          <span title="Май">05</span>
          <span title="Июнь">06</span>
          <span title="Июль">07</span>
          <span title="Август">08</span>
          <span title="Сентябрь">09</span>
          <span title="Октябрь">10</span>
          <span title="Ноябрь">11</span>
          <span title="Декабрь">12</span>
          <div class="clear"></div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="newsletter">
        <div class="block-header">Управление подпиской</div>
        <form action="/news/" method="POST">
          <input type="hidden" name="sf_RUB_ID[]" value="1">
          <div class="inp2">
            <input type="text" placeholder="Введите ваш e-mail" name="sf_EMAIL" size="20"  title="Введите ваш e-mail">
          </div>
          <input class="button1 unsubscribe" type="submit" name="NO" value="Отписаться">
          <input class="button2" type="submit" name="OK" value="Подписаться">
        </form>
      </div>
      <div class="separator"></div>
      <img class="vk-block" src="<%=asset_path "vk-block.png"%>" />
    </div>
    <!--<ul class="vertical-menu">
      <li>
        <a href="#">Весовой чай</a>
      </li>
      <li>
        <a href="#">Фасованый чай</a>
      </li>
      <li>
        <a href="#">Кофе</a>
      </li>
      <li>
        <a href="#">Сладости</a>
      </li>
      <li>
        <a href="#">Рекламные материалы и оборудование</a>
      </li>
    </ul>-->
  </div>
  <div class="content-view page-content-view news-list-page">
    <div class="breadcrumps">
      <a href="#">Главная</a>
      <a href="#">Новости</a>
    </div>

    <h1>Новости</h1>

    <div class="sidebar right-sidebar">
      <img class="banner" src="<%= asset_path('text/banner1.png') %>" />
      <!--<img class="banner" src="<%= asset_path('text/banner2.png') %>" />-->
      <h2 class="sidebar-header">
        Награды
        <a href="#">все</a>
      </h2>
      <ul class="honors">
        <li>
          <a href="#" class="item-header">
            <img align="middle" src="<%= asset_path('honors/honor1.png')%>" />
            <p>Новинки асортимента</p>
          </a>

        </li>
        <li>
          <a href="#" class="item-header">
            <img src="<%= asset_path('honors/honor2.png')%>" />
            <p>Новинки асортимента</p>
          </a>

        </li>
        <li>
          <a href="#" class="item-header">
            <img src="<%= asset_path('honors/honor3.png')%>" />
            <p>Новинки асортимента</p>
          </a>

        </li>
      </ul>
    </div>
    <div class="content-view page-block-content-view">
      <div class="news-item">
        <a class="header" href="#">
          <h2>Заголовок новости без фотографии</h2>
        </a>
        <a href="#" class="date">
          <div>17</div>
          <div>февраля</div>
        </a>
        <div class="content no-img">
          <p>Существует множество способов обработки чая, в том числе вяление, сушка, скручивание, ферментация и т.д.
          В зависимости от них получают множество чаев, названия которых чаще всего связаны с цветом.
          </p>
          <p>
          Зеленые чаи – богаты витаминами и полезными веществами, с высоким содержанием кофеина. Имеют неяркий настой от желтоватого до зеленого цвета, с ярким ароматом и насыщенным вкусом. Очень популярны в России различные виды черных чаев (в Китае черный чай называют красным). Это наиболее ферментированный чай, который проходит максимальное число операций, прежде чем поступить в продажу. Белые чаи распространены почти исключительно в Китае, они производятся из нежных полураспустившихся листочков.
          </p>
          <p>
          Белый чай можно отнести к самым редким и дорогим чаям, к тому же он весьма чувствительный к транспортировке и хранению продукт. Процесс производства включает только завяливание и сушку.
          </p>
        </div>
      </div>
      <div class="separator"></div>
      <div class="news-item">
        <a class="header" href="#">
          <h2>Заголовок новости без фотографии c подзаголовками</h2>
        </a>
        <a href="#" class="date">
          <div>15</div>
          <div>февраля</div>
        </a>
        <div class="content no-img">
          <p>Существует множество способов обработки чая, в том числе вяление, сушка, скручивание, ферментация и т.д.
            В зависимости от них получают множество чаев, названия которых чаще всего связаны с цветом.
          </p>
          <p>
            Зеленые чаи – богаты витаминами и полезными веществами, с высоким содержанием кофеина. Имеют неяркий настой от желтоватого до зеленого цвета, с ярким ароматом и насыщенным вкусом. Очень популярны в России различные виды черных чаев (в Китае черный чай называют красным). Это наиболее ферментированный чай, который проходит максимальное число операций, прежде чем поступить в продажу. Белые чаи распространены почти исключительно в Китае, они производятся из нежных полураспустившихся листочков.
          </p>
          <p>
            Помимо весового мы предлагаем разнообразный фасованный чай различного веса – в стеклянных и жестяных банках, в фильтр-пакетах, в подарочных упаковках, а также прессованный чай. Африканский чай представлен разнообразными коллекциями ройбуш и черным кенийским чаем.
          </p>
          <h3>По типу чайного листа</h3>
          <p>
            Белый чай можно отнести к самым редким и дорогим чаям, к тому же он весьма чувствительный к транспортировке и хранению продукт. Процесс производства включает только завяливание и сушку.
          </p>
          <h4>По типу чайного листа</h4>
          <p>
            Зеленые чаи – богаты витаминами и полезными веществами, с высоким содержанием кофеина. Имеют неяркий настой от желтоватого до зеленого цвета, с ярким ароматом и насыщенным вкусом. Очень популярны в России различные виды черных чаев (в Китае черный чай называют красным). Это наиболее ферментированный чай, который проходит максимальное число операций, прежде чем поступить в продажу. Белые чаи распространены почти исключительно в Китае, они производятся из нежных полураспустившихся листочков.
          </p>
          <p>
            <div>В интернет магазине «Русской чайной компании» представлены:</div>
            <ul>
              <li>специализированное оборудование для магазинов чая и кофе</li>
              <li>разнообразные коллекции посуды</li>
              <li>индивидуальная упаковка</li>
            </ul>
          </p>
          <p>Существует множество способов обработки чая, в том числе вяление, сушка, скручивание, ферментация и т.д.
            В зависимости от них получают множество чаев, названия которых чаще всего связаны с цветом.
          </p>
        </div>
      </div>
      <div class="separator"></div>
      <div class="news-item">
        <a class="header" href="#">
          <h2>Заголовок новости c фотографией</h2>
        </a>
        <a href="#" class="date">
          <div>17</div>
          <div>февраля</div>
        </a>
        <div class="content has-img">
          <a href=""><img src=<%=asset_path 'news-img.png'%> />   </a>
          <p>Существует множество способов обработки чая, в том числе вяление, сушка, скручивание, ферментация и т.д.
            В зависимости от них получают множество чаев, названия которых чаще всего связаны с цветом.
          </p>
          <div class="clear"></div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="navigation">
        <a href="">&nbsp;</a>
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a class="current">4</a>
        <a href="">5</a>
        <a class="disabled">&nbsp;</a>
      </div>
    </div>
  </div>
