<!DOCTYPE html>
<html>
<head>
  <title>Chaynaya</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="layout">
      <div class="menu-wrapper">
        <div class="menu">
            <div class="menu-holder">
          <div class="logo sprite-common-logo"></div>
          <ul class="menu-block">
            <li>
              <a class="" href="#">
                Новости
                <i class="sprite-common-arrow-down"></i>
              </a>
            </li>
            <li class="active">
              <a href="#">
                Компания
                <i class="sprite-common-arrow-down"></i>

              </a>
                <div class="submenu shape submenu-shape" style="width: 700px;">
                  <div class="c">
                    <br />   &nbsp;
                    <br />   &nbsp;
                    <br />   &nbsp;
                    <br />   &nbsp;
                    <br />   &nbsp;
                    <br />   &nbsp;
                    <br />   &nbsp;
                  </div>

                  <div class="lb sprite-shape-vertical-pattern-corner-lb-menu"></div>
                  <div class="rb sprite-shape-vertical-pattern-corner-rb-menu"></div>
                  <div class="l sprite-shape-horizontal-pattern-menu-left-right"></div>

                  <div class="r sprite-shape-horizontal-pattern-menu-left-right"></div>
                  <div class="b sprite-shape-vertical-pattern-menu-top-bottom"></div>
                </div>

            </li>
            <li><a href="#">Продукция<i class="sprite-common-arrow-down"></i></a></li>
            <li>
              <a class="" href="#">
                Все о чае и кофе
                <i class="sprite-common-arrow-down"></i>
              </a>
            </li>
            <li>
              <div class="search-input-holder">
                <input type="text" class="search-input" />
              </div>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div id="content">
        <div class="town-select-block">
          <div class="phone">+7 495 447 05 56</div>
          <div class="town-select"></div>
        </div>
        <div class="login-block">
          <a class="sprite-common-icon-key" href="#">Войти</a>
          <a class="sprite-common-icon-login" href="#">Регистрация</a>
        </div>
        <div class="basket">
          <div class="basket-sum">11 570</div>
        </div>
        <div id="slider"></div>

        <div id="static-content">

        <div id="" class="shape pattern-shape left">
          <div class="c">
            <ul class="link-list partnership">
              <li>
                <div class="link-list-header partnership-header">Парстнерство</div>
                <ul>
                  <li class="sprite-common-icon-wallet"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-moneybag"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-home"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-paper"><a href="#">Чайый бизес, с чего начать?</a></li>
                </ul>
                <div class="link-list-description">
                  his is Photoshop's version  of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor,
                  nisi elit consequat ipsum,
                </div>
              </li>
              <li>
                <div class="link-list-header wholesale-header">Оптовая закупка</div>
                <ul>
                  <li class="sprite-common-icon-wallet"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-moneybag"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-home"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-paper"><a href="#">Чайый бизес, с чего начать?</a></li>
                </ul>
                <div class="link-list-description">
                  his is Photoshop's version  of Lorem Ipsum.
                  Proin gravida nibh vel
                </div>
              </li>
            </ul>
          </div>
          <div class="lt sprite-shape-vertical-pattern-corner"></div>
          <div class="rt sprite-shape-vertical-pattern-corner"></div>
          <div class="lb sprite-shape-vertical-pattern-corner"></div>
          <div class="rb sprite-shape-vertical-pattern-corner"></div>
          <div class="l sprite-shape-horizontal-pattern-left-right"></div>
          <div class="t sprite-shape-vertical-pattern-top-bottom"></div>
          <div class="r sprite-shape-horizontal-pattern-right-no-shade"></div>
          <div class="b sprite-shape-vertical-pattern-top-bottom"></div>
        </div>
        <div class="shape pattern-shape right" style="">
          <div class="c">
            <ul class="link-list shop">
              <li>
                <div class="link-list-header shop-header">Парстнерство</div>
                <ul>
                  <li class="sprite-common-icon-wallet"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-moneybag"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-home"><a href="#">Чайый бизес, с чего начать?</a></li>
                  <li class="sprite-common-icon-paper"><a href="#">Чайый бизес, с чего начать?</a></li>
                </ul>
                <div class="link-list-description">
                  his is Photoshop's version  of Lorem Ipsum.
                  Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin
                </div>
              </li>

            </ul>
          </div>
          <div class="lt sprite-shape-vertical-pattern-corner-lt-partial-shade"></div>
          <div class="rt sprite-shape-vertical-pattern-corner-no-stroke"></div>
          <div class="lb sprite-shape-vertical-pattern-corner-lb-partial-shade"></div>
          <div class="rb sprite-shape-vertical-pattern-corner-no-stroke"></div>
          <div class="l sprite-shape-horizontal-pattern-left-no-shade-no-stroke"></div>
          <div class="t sprite-shape-vertical-pattern-top-bottom-no-stroke"></div>
          <div class="r sprite-shape-horizontal-pattern-left-right-no-stroke"></div>
          <div class="b sprite-shape-vertical-pattern-top-bottom-no-stroke"></div>
        </div>
          <div style="clear:both"></div>
        </div>
        <div id="news">
          <div class="shape white-shape">
            <div class="c">
              <h2 class="bordered">Новости</h2>
              <ul class="horizontal-list">
                <li>
                  <img src="<%=asset_path("news1.png") %>">
                  <div class="news-content">
                      <div class="news-header">Новый каталог</div>
                      <div class="news-date">29.10.2014</div>
                      <div class="news-preview">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                        nec sagittis sem nibh id elit. Duis
                      </div>
                  </div>
                </li>
                <li>
                  <img src="<%=asset_path("news2.png") %>">
                  <div class="news-content">
                    <div class="news-header">Новый ассортимент каталога</div>
                    <div class="news-date">31.10.2014</div>
                    <div class="news-preview">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="lt sprite-shape-vertical-white-corner-lt"></div>
            <div class="rt sprite-shape-vertical-white-corner-rt"></div>
            <div class="lb sprite-shape-vertical-white-corner-lb"></div>
            <div class="rb sprite-shape-vertical-white-corner-rb"></div>
            <div class="l sprite-shape-horizontal-white-left-right"></div>
            <div class="t sprite-shape-vertical-white-top-bottom"></div>
            <div class="r sprite-shape-horizontal-white-left-right"></div>
            <div class="b sprite-shape-vertical-white-top-bottom"></div>
          </div>
        </div>
        <div id="items">
          <div class="shape white-shape">
            <div class="c">
              <h2 class="bordered">Товары</h2>
              <ul class="tabs">
                <li class="active"><a href="#">Все</a></li>
                <li><a href="#">Новые</a></li>
                <li><a href="#">Хит продаж</a></li>
                <li><a href="#">С наградами</a></li>
              </ul>
              <div class="flex-items-list">
                <div class="flex-item-holder">
                  <div class="flex-item">
                    <div class="top" style="background-image: url(<%=asset_path('item-pic.png') %>)">
                      <div class="name">Чай “Лучи с жасмином” 1</div>
                      <div class="articul">Артикул: 03535387</div>
                      <div class="is-new"></div>
                      <div class="is-for-sale"></div>
                      <div class="wishlist-icon"></div>
                    </div>
                    <div class="bottom">
                      <div class="price">
                        <div class="note">
                          Цена за 100гр
                        </div>
                        <div class="value">9410</div>

                      </div>

                      <div class="buy">
                        <button class="buy-button"></button>
                      </div>
                      <div class="amount">
                        <div class="note">
                          Количество
                        </div>
                        <i class="minus"></i>
                        <input type="text" name="count" value="1" />
                        <i class="plus"></i>
                      </div>
                    </div>
                    <div class="extra">
                      <ul>
                        <li>Вес нетто — 1,8 Кг</li>
                        <li>Вид упаковки — пакет</li>
                        <li>В развес не продается!</li>
                        <li class="price"><span class="value">117</span> за 100 гр</li>
                        <li>1360 руб/кг х 1,8 кг = 2 448.00 руб/пакет</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="flex-item-holder">
                  <div class="flex-item">
                    <div class="top" style="background-image: url(<%=asset_path('item-pic.png') %>)">
                      <div class="name">Чай “Лучи с жасмином” 2</div>
                      <div class="articul">Артикул: 03535387</div>
                      <div class="is-new"></div>
                      <div class="is-for-sale"></div>
                      <div class="wishlist-icon in-favorites"></div>
                    </div>
                    <div class="bottom">
                      <div class="price">
                        <div class="note">
                          Цена за 100гр
                        </div>
                        <div class="value">9410</div>

                      </div>

                      <div class="buy">
                        <button class="buy-button"></button>
                      </div>
                      <div class="amount">
                        <div class="note">
                          Количество
                        </div>
                        <i class="minus"></i>
                        <input type="text" name="count" value="1" />
                        <i class="plus"></i>
                      </div>
                    </div>
                    <div class="extra">
                      <ul>
                        <li>Вес нетто — 1,8 Кг</li>
                        <li>Вид упаковки — пакет</li>
                        <li>В развес не продается!</li>
                        <li class="price"><span class="value">117</span> за 100 гр</li>
                        <li>1360 руб/кг х 1,8 кг = 2 448.00 руб/пакет</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="flex-item-holder">
                  <div class="flex-item">
                    <div class="top" style="background-image: url(<%=asset_path('item-pic.png') %>)">
                      <div class="name">Чай “Лучи с жасмином” 3 </div>
                      <div class="articul">Артикул: 03535387</div>
                      <div class="is-new"></div>
                      <div class="is-for-sale"></div>
                      <div class="wishlist-icon in-favorites"></div>
                    </div>
                    <div class="bottom">
                      <div class="price">
                        <div class="note">
                          Цена за 100гр
                        </div>
                        <div class="value">9410</div>

                      </div>

                      <div class="buy">
                        <button class="buy-button"></button>
                      </div>
                      <div class="amount">
                        <div class="note">
                          Количество
                        </div>
                        <i class="minus"></i>
                        <input type="text" name="count" value="1" />
                        <i class="plus"></i>
                      </div>
                    </div>
                    <div class="extra">
                      <ul>
                        <li>Вес нетто — 1,8 Кг</li>
                        <li>Вид упаковки — пакет</li>
                        <li>В развес не продается!</li>
                        <li class="price"><span class="value">117</span> за 100 гр</li>
                        <li>1360 руб/кг х 1,8 кг = 2 448.00 руб/пакет</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="flex-item-holder">
                  <div class="flex-item">
                    <div class="top" style="background-image: url(<%=asset_path('item-pic.png') %>)">
                      <div class="name">Чай “Лучи с жасмином” 4</div>
                      <div class="articul">Артикул: 03535387</div>
                      <div class="is-new"></div>
                      <div class="is-for-sale"></div>
                      <div class="wishlist-icon"></div>
                    </div>
                    <div class="bottom">
                      <div class="price">
                        <div class="note">
                          Цена за 100гр
                        </div>
                        <div class="value">9410</div>

                      </div>

                      <div class="buy">
                        <button class="buy-button"></button>
                      </div>
                      <div class="amount">
                        <div class="note">
                          Количество
                        </div>
                        <i class="minus"></i>
                        <input type="text" name="count" value="1" />
                        <i class="plus"></i>
                      </div>
                    </div>
                    <div class="extra">
                      <ul>
                        <li>Вес нетто — 1,8 Кг</li>
                        <li>Вид упаковки — пакет</li>
                        <li>В развес не продается!</li>
                        <li class="price"><span class="value">117</span> за 100 гр</li>
                        <li>1360 руб/кг х 1,8 кг = 2 448.00 руб/пакет</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="flex-item-holder">
                  <div class="flex-item">
                    <div class="top" style="background-image: url(<%=asset_path('item-pic.png') %>)">
                      <div class="name">Чай “Лучи с жасмином” 5</div>
                      <div class="articul">Артикул: 03535387</div>
                      <div class="is-new"></div>
                      <div class="is-for-sale"></div>
                      <div class="wishlist-icon"></div>
                    </div>
                    <div class="bottom">
                      <div class="price">
                        <div class="note">
                          Цена за 100гр
                        </div>
                        <div class="value">9410</div>

                      </div>

                      <div class="buy">
                        <button class="buy-button"></button>
                      </div>
                      <div class="amount">
                        <div class="note">
                          Количество
                        </div>
                        <i class="minus"></i>
                        <input type="text" name="count" value="1" />
                        <i class="plus"></i>
                      </div>
                    </div>
                    <div class="extra">
                      <ul>
                        <li>Вес нетто — 1,8 Кг</li>
                        <li>Вид упаковки — пакет</li>
                        <li>В развес не продается!</li>
                        <li class="price"><span class="value">117</span> за 100 гр</li>
                        <li>1360 руб/кг х 1,8 кг = 2 448.00 руб/пакет</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="flex-item-holder">
                  <div class="flex-item">
                    <div class="top" style="background-image: url(<%=asset_path('item-pic.png') %>)">
                      <div class="name">Чай “Лучи с жасмином” 6</div>
                      <div class="articul">Артикул: 03535387</div>
                      <div class="is-new"></div>
                      <div class="is-for-sale"></div>
                      <div class="wishlist-icon in-favorites"></div>
                    </div>
                    <div class="bottom">
                      <div class="price">
                        <div class="note">
                          Цена за 100гр
                        </div>
                        <div class="value">9410</div>

                      </div>

                      <div class="buy">
                        <button class="buy-button"></button>
                      </div>
                      <div class="amount">
                        <div class="note">
                          Количество
                        </div>
                        <i class="minus"></i>
                        <input type="text" name="count" value="1" />
                        <i class="plus"></i>
                      </div>
                    </div>
                    <div class="extra">
                      <ul>
                        <li>Вес нетто — 1,8 Кг</li>
                        <li>Вид упаковки — пакет</li>
                        <li>В развес не продается!</li>
                        <li class="price"><span class="value">117</span> за 100 гр</li>
                        <li>1360 руб/кг х 1,8 кг = 2 448.00 руб/пакет</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lt sprite-shape-vertical-white-corner-lt"></div>
            <div class="rt sprite-shape-vertical-white-corner-rt"></div>
            <div class="lb sprite-shape-vertical-white-corner-lb"></div>
            <div class="rb sprite-shape-vertical-white-corner-rb"></div>
            <div class="l sprite-shape-horizontal-white-left-right"></div>
            <div class="t sprite-shape-vertical-white-top-bottom"></div>
            <div class="r sprite-shape-horizontal-white-left-right"></div>
            <div class="b sprite-shape-vertical-white-top-bottom"></div>
          </div>
        </div>
      </div>
      <div id="bottom"></div>
    </div>

<%= yield %>

</body>
</html>
