<!DOCTYPE html>
<html>
<head>
  <title>Chaynaya inner page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "inner" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
</head>
<body class="inner">
    <div id="layout">
      <div id="menu-wrapper" class="menu-wrapper state-default">
        <div class="menu">
            <div class="menu-holder">
          <div class="shining sprite-common-shining"></div>
          <div class="logo sprite-common-logo"></div>
          <div id="state-search" class="search-input-holder state-container">
            <div class="state-header">Поиск</div>
            <div class="search-input-holder-fix state-content">
              <input type="text" class="search-input" placeholder="Введите ваш запрос" />
            </div>
            <div class="buttons-holder">
              <div class="button-filter"><div class="tip">Фильтр</div></div>
              <div class="button-close"></div>
            </div>
          </div>
          <ul id="state-menu" class="menu-block">
            <li class="single">
              <a class="has_no_sub" href="#">
                <span>Новости</span>

              </a>


            </li>
            <li>
              <a href="#">
                <span>Компания
                  <i class="sprite-common-arrow-down"></i>
                </span>
              </a>
                <div class="submenu shape submenu-shape has-4-cols">


                  <div class="lb sprite-shape-vertical-pattern-corner-lb-menu"></div>
                  <div class="rb sprite-shape-vertical-pattern-corner-rb-menu"></div>
                  <div class="l sprite-shape-horizontal-pattern-menu-left-right"></div>

                  <div class="r sprite-shape-horizontal-pattern-menu-left-right"></div>
                  <div class="b sprite-shape-vertical-pattern-menu-top-bottom"></div>
                  <div class="c">
                    <ul class="link-list">
                      <li>
                        <ul>
                          <li><a href="#">Контакты</a></li>
                          <li><a href="#">Москва (центральный офис)</a></li>
                          <li><a href="#">Санкт-Петербург</a></li>
                          <li><a href="#">Краснодар</a></li>
                          <li><a href="#">Украина</a></li>
                          <li><a href="#">Белоруссия</a></li>
                          <li><a href="#">Казахстан</a></li>
                          <li><a href="#">Заказать обратный звонок</a></li>
                          <li><a href="#">Реквизиты компании</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li><a href="#">Вакансии</a></li>
                          <li><a href="#">Набор сотрудников</a></li>
                          <li><a href="#">Обман! - "Вырезатель этикеток"</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li><a href="#">Награды</a></li>
                          <li><a href="#">2014</a></li>
                          <li><a href="#">2013</a></li>
                          <li><a href="#">2012</a></li>
                          <li><a href="#">2011</a></li>
                          <li><a href="#">2010</a></li>
                          <li><a href="#">2009</a></li>
                          <li><a href="#">2008</a></li>
                          <li><a href="#">2007</a></li>
                          <li><a href="#">2006</a></li>
                          <li><a href="#">2005</a></li>
                          <li><a href="#">2004</a></li>
                          <li><a href="#">2003</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li><a href="#">Наши партнеры</a></li>
                          <li><a href="#">Москва и область</a></li>
                          <li><a href="#">Санкт-Петербург и область</a></li>
                          <li><a href="#">Краснодарский край</a></li>
                          <li><a href="#">Нижний Новгород и область</a></li>
                          <li><a href="#">Татарстан Республика</a></li>
                          <li><a href="#">Новосибирск и область</a></li>
                          <li><a href="#">Показать все регионы</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>

            </li>
            <li>
              <a href="#">
                <span>Продукция
                  <i class="sprite-common-arrow-down"></i>
                </span>
              </a>
              <div class="submenu shape submenu-shape has-4-cols">


                <div class="lb sprite-shape-vertical-pattern-corner-lb-menu"></div>
                <div class="rb sprite-shape-vertical-pattern-corner-rb-menu"></div>
                <div class="l sprite-shape-horizontal-pattern-menu-left-right"></div>

                <div class="r sprite-shape-horizontal-pattern-menu-left-right"></div>
                <div class="b sprite-shape-vertical-pattern-menu-top-bottom"></div>
                <div class="c">
                  <ul class="link-list">
                    <li>
                      <ul>
                        <li><a href="#">Весовой чай</a></li>
                        <li><a href="#">Чайная коллекция</a></li>
                        <li><a href="#">Вьетнамский чай NEW</a></li>
                        <li><a href="#">Европейский чай, напитки</a></li>
                        <li><a href="#">Индийский чай</a></li>
                        <li><a href="#">Индонезийский чай NEW</a></li>
                        <li><a href="#">Китайский чай</a></li>
                        <li><a href="#">Цейлонский чай</a></li>
                        <li><a href="#">Южноамериканский чай</a></li>
                        <li><a href="#">Tea Time</a></li>
                        <li><a href="#">Африканский чай</a></li>
                        <li><a href="#">Европейский чай, напитки</a></li>

                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Фасованный чай</a></li>
                        <li><a href="#">Деревянные шкатулки</a></li>
                        <li><a href="#">Подарочная продукция, упаковка</a></li>
                        <li><a href="#">Прессованные фасованные чаи</a></li>
                        <li><a href="#">Чай в жестяных банках</a></li>
                        <li><a href="#">Чай в упаковке 100гр.</a></li>
                        <li><a href="#">Чай в упаковке 50гр.</a></li>
                        <li><a href="#">Чай в фильтр-пакетах</a></li>
                        <li><a href="#">Элитный чай в индивидуальной упаковке</a></li>
                        <li><a href="#">Элитный чай в стеклянных банках</a></li>

                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Кофе</a></li>
                        <li><a href="#">Веcовой кофе "Санта Фе"</a></li>
                        <li><a href="#">Весовой кофе "Мадео"</a></li>
                        <li><a href="#">Кофейные зерна в шоколаде</a></li>
                        <li><a href="#">Кофемолки "Ma Cup"</a></li>
                        <li><a href="#">Фасованный кофе "Мадео"</a></li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Посуда</a></li>
                        <li><a href="#">Аксессуары</a></li>
                        <li><a href="#">Посуда "С НОВЫМ ГОДОМ"</a></li>
                        <li><a href="#">Посуда из керамики</a></li>
                        <li><a href="#">Посуда из стекла</a></li>
                        <li><a href="#">Посуда из фарфора</a></li>
                        <li><a href="#">Посуда разная</a></li>
                        <li><a href="#">Посуда элитная</a></li>
                        <li><a href="#">Посуда Этно</a></li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Сладости</a></li>
                        <li><a href="#">Варенье</a></li>
                        <li><a href="#">Карамельный сахар</a></li>
                        <li><a href="#">Мармелад</a></li>
                        <li><a href="#">Мед натуральный</a></li>
                        <li><a href="#">Орехи и сухофрукты в шоколадной глазури NEW</a></li>


                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Ресторанам_HoReCa</a></li>
                        <li><a href="#">Банки технологические для чая</a></li>
                        <li><a href="#">Шкатулки</a></li>


                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Оборудование и материалы</a></li>
                        <li><a href="#">Оборудование</a></li>
                        <li><a href="#">Рекламные материалы</a></li>


                      </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a class="" href="#">
                <span>Все о чае и кофе
                  <i class="sprite-common-arrow-down"></i>
                </span>
              </a>
              <div class="submenu shape submenu-shape has-4-cols">


                <div class="lb sprite-shape-vertical-pattern-corner-lb-menu"></div>
                <div class="rb sprite-shape-vertical-pattern-corner-rb-menu"></div>
                <div class="l sprite-shape-horizontal-pattern-menu-left-right"></div>

                <div class="r sprite-shape-horizontal-pattern-menu-left-right"></div>
                <div class="b sprite-shape-vertical-pattern-menu-top-bottom"></div>
                <div class="c">
                  <ul class="link-list">
                    <li>
                      <ul>
                        <li><a href="#">Чай</a></li>
                        <li><a href="#">История чая</a></li>
                        <li><a href="#">Чай как растение</a></li>
                        <li><a href="#">Виды чая</a></li>
                        <li><a href="#">Производители чая</a></li>
                        <li><a href="#">Производство чая</a></li>


                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li>&nbsp;</li>
                        <li><a href="#">О китайском чае</a></li>
                        <li><a href="#">Маркировка и сорта чая</a></li>
                        <li><a href="#">Элитный чай</a></li>
                        <li><a href="#">Как выбрать чай?</a></li>
                        <li><a href="#">Польза чая</a></li>

                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Кофе</a></li>
                        <li><a href="#">История кофе</a></li>
                        <li><a href="#">Кофейное дерево и его виды</a></li>
                        <li><a href="#">Виды кофе</a></li>
                        <li><a href="#">Производители кофе</a></li>
                        <li><a href="#">Производство кофе</a></li>
                        <li><a href="#">Смеси кофе</a></li>
                        <li><a href="#">Черный кофе</a></li>

                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">&nbsp;</a></li>
                        <li><a href="#">Приготовление кофе</a></li>
                        <li><a href="#">Кофе: мифы и реальность</a></li>
                        <li><a href="#">Торговля кофе</a></li>
                        <li><a href="#">Стоимость кофе</a></li>
                        <li><a href="#">Где купить кофе</a></li>
                        <li><a href="#">Польза кофе</a></li>

                      </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a class="" href="#">
                <span>Бизнес с нами
                  <i class="sprite-common-arrow-down"></i>
                </span>
              </a>
              <div class="submenu shape submenu-shape">

                <div class="lb sprite-shape-vertical-pattern-corner-lb-menu"></div>
                <div class="rb sprite-shape-vertical-pattern-corner-rb-menu"></div>
                <div class="l sprite-shape-horizontal-pattern-menu-left-right"></div>

                <div class="r sprite-shape-horizontal-pattern-menu-left-right"></div>
                <div class="b sprite-shape-vertical-pattern-menu-top-bottom"></div>
                <div class="c">
                  <ul class="link-list">
                    <li>
                      <ul>
                        <li><a href="#">Как открыть чайный магазин</a></li>
                        <li><a href="#">ООО или ИП</a></li>
                        <li><a href="#">Начальный капитал</a></li>
                        <li><a href="#">Какое помещение арендовать</a></li>
                        <li><a href="#">Выбор формата торговой точки</a></li>
                        <li><a href="#">Анкета нового партнера</a></li>
                        <li><a href="#">Базовый договор</a></li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Преимушества для партнеров</a></li>
                        <li><a href="#">Предоставление оборудования</a></li>
                        <li><a href="#">Доставка в торговую точку</a></li>
                        <li><a href="#">Обучение</a></li>
                        <li><a href="#">Рекламные материалы</a></li>
                        <li><a href="#">Бесплатные промоакции</a></li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#">Рекомендации по бизнесу</a></li>
                        <li><a href="#">Особенности ведения бизнеса</a></li>
                        <li><a href="#">Работа с весовым чаем и кофе</a></li>
                        <li><a href="#">Франшиза "Чайбург"</a></li>
                        <li><a href="#">Вопросы и ответы (FAQ)</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
          <div id="state-filter" class="filter-holder state-container">
            <div class="state-header">Фильтр</div>
            <div class="state-content">
              <div class="filter-tab active" attr-control="tea">Чай</div>
              <div class="filter-tab" attr-control="coffee">Кофе</div>
              <div class="filter-tab" attr-control="posuda">Посуда</div>
              <div class="shape filter-shape tea">
                <div class="top-helper"></div>
                <div class="bottom-helper"></div>

                <div class="lb sprite-shape-vertical-pattern-corner-lb-filter"></div>
                <div class="rb sprite-shape-vertical-pattern-corner-rb-filter"></div>
                <div class="l sprite-shape-horizontal-pattern-filter-left-right"></div>

                <div class="r sprite-shape-horizontal-pattern-filter-left-right"></div>
                <div class="b sprite-shape-vertical-pattern-filter-top-bottom"></div>
                <div class="c">
                  <form class="flex-box" action="#" name="">
                    <div class="">
                      <ul class="property-values">
                        <li>Способ обработки</li>
                        <li>
                          <input type="checkbox" name="1"/>
                          <label for="1">Черный</label>
                        </li>
                        <li>
                          <input type="checkbox" name="2"/>
                          <label for="2">Зеленый</label>
                        </li>
                        <li>
                          <input type="checkbox" name="3"/>
                          <label for="3">Красный</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>Степень качества</li>
                        <li>
                          <input type="checkbox" name="4"/>
                          <label for="4">BOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="5"/>
                          <label for="5">FOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="6"/>
                          <label for="6">GFOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="7"/>
                          <label for="7">OP</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>География</li>
                        <li>
                          <input type="checkbox" name="8"/>
                          <label for="8">Африканский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="9"/>
                          <label for="9">Европейский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="10"/>
                          <label for="10">Индийский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="11"/>
                          <label for="11">Китайский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="12"/>
                          <label for="12">Цейлонский</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>Вкусовые характеристики</li>
                        <li>
                          <input type="checkbox" name="13"/>
                          <label for="13">С ароматом жасмина</label>
                        </li>
                      </ul>
                    </div>
                    <!-- right filter column -->
                    <div class="">
                      <ul class="property-values">
                        <li>География</li>
                        <li>
                          <input type="checkbox" name="13"/>
                          <label for="12">Ананас</label>
                        </li>
                        <li>
                          <input type="checkbox" name="14"/>
                          <label for="14">Апельсин</label>
                        </li>
                        <li>
                          <input type="checkbox" name="15"/>
                          <label for="15">Вишня</label>
                        </li>
                        <li>
                          <input type="checkbox" name="16"/>
                          <label for="16">Гибискус</label>
                        </li>
                        <li>
                          <input type="checkbox" name="17"/>
                          <label for="17">Жасмин</label>
                        </li>
                        <li>
                          <input type="checkbox" name="18"/>
                          <label for="18">Женьшень</label>
                        </li>
                        <li>
                          <input type="checkbox" name="19"/>
                          <label for="19">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="20"/>
                          <label for="20">Календула</label>
                        </li>
                        <li>
                          <input type="checkbox" name="21"/>
                          <label for="21">Клубника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="22"/>
                          <label for="22">Клюква</label>
                        </li>
                        <li>
                          <input type="checkbox" name="23"/>
                          <label for="23">Липа</label>
                        </li>
                        <li>
                          <input type="checkbox" name="24"/>
                          <label for="24">Мате</label>
                        </li>

                        <li>
                          <input type="checkbox" name="25"/>
                          <label for="25">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="26"/>
                          <label for="26">Календула</label>
                        </li>
                        <li>
                          <input type="checkbox" name="27"/>
                          <label for="27">Клубника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="28"/>
                          <label for="28">Клюква</label>
                        </li>
                        <li>
                          <input type="checkbox" name="29"/>
                          <label for="29">Липа</label>
                        </li>
                        <li>
                          <input type="checkbox" name="30"/>
                          <label for="30">Мате</label>
                        </li>
                        <li>
                          <input type="checkbox" name="31"/>
                          <label for="31">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="32"/>
                          <label for="32">Календула</label>
                        </li>

                      </ul>
                      <ul class="property-values">
                        <li>Добавки</li>
                        <li>
                          <input type="checkbox" name="35"/>
                          <label for="35">Травы</label>
                        </li>
                        <li>
                          <input type="checkbox" name="36"/>
                          <label for="36">Цветы</label>
                        </li>
                        <li>
                          <input type="checkbox" name="37"/>
                          <label for="37">Фрукты</label>
                        </li>
                      </ul>
                    </div>
                    <!-- /right filter column-->
                  <span class="filter_results">
                    Найдено <span>13</span> товаров
                  </span>
                    <input type="button" class="filter-button" name="filter-button" value="Найти"/>
                  </form>
                </div>
              </div>
              <div class="shape filter-shape coffee">
                <div class="top-helper"></div>
                <div class="bottom-helper"></div>

                <div class="lb sprite-shape-vertical-pattern-corner-lb-filter"></div>
                <div class="rb sprite-shape-vertical-pattern-corner-rb-filter"></div>
                <div class="l sprite-shape-horizontal-pattern-filter-left-right"></div>

                <div class="r sprite-shape-horizontal-pattern-filter-left-right"></div>
                <div class="b sprite-shape-vertical-pattern-filter-top-bottom"></div>
                <div class="c">
                  <form class="flex-box" action="#" name="">
                    <div class="">

                      <ul class="property-values">
                        <li>Обжарка</li>

                        <li>
                          <input type="checkbox" name="2"/>
                          <label for="2">Частичная</label>
                        </li>
                        <li>
                          <input type="checkbox" name="3"/>
                          <label for="3">Полная</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>Степень качества</li>
                        <li>
                          <input type="checkbox" name="4"/>
                          <label for="4">BOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="5"/>
                          <label for="5">FOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="6"/>
                          <label for="6">GFOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="7"/>
                          <label for="7">OP</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>География</li>
                        <li>
                          <input type="checkbox" name="8"/>
                          <label for="8">Африканский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="9"/>
                          <label for="9">Европейский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="10"/>
                          <label for="10">Индийский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="11"/>
                          <label for="11">Китайский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="12"/>
                          <label for="12">Цейлонский</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>Вкусовые характеристики</li>
                        <li>
                          <input type="checkbox" name="13"/>
                          <label for="13">С ароматом жасмина</label>
                        </li>
                      </ul>

                    </div>
                    <!-- right filter column -->
                    <div class="">
                      <ul class="property-values">
                        <li>География</li>
                        <li>
                          <input type="checkbox" name="13"/>
                          <label for="12">Ананас</label>
                        </li>
                        <li>
                          <input type="checkbox" name="14"/>
                          <label for="14">Апельсин</label>
                        </li>
                        <li>
                          <input type="checkbox" name="15"/>
                          <label for="15">Вишня</label>
                        </li>
                        <li>
                          <input type="checkbox" name="16"/>
                          <label for="16">Гибискус</label>
                        </li>
                        <li>
                          <input type="checkbox" name="17"/>
                          <label for="17">Жасмин</label>
                        </li>
                        <li>
                          <input type="checkbox" name="18"/>
                          <label for="18">Женьшень</label>
                        </li>
                        <li>
                          <input type="checkbox" name="19"/>
                          <label for="19">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="20"/>
                          <label for="20">Календула</label>
                        </li>
                        <li>
                          <input type="checkbox" name="21"/>
                          <label for="21">Клубника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="22"/>
                          <label for="22">Клюква</label>
                        </li>
                        <li>
                          <input type="checkbox" name="23"/>
                          <label for="23">Липа</label>
                        </li>
                        <li>
                          <input type="checkbox" name="24"/>
                          <label for="24">Мате</label>
                        </li>

                        <li>
                          <input type="checkbox" name="25"/>
                          <label for="25">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="26"/>
                          <label for="26">Календула</label>
                        </li>
                        <li>
                          <input type="checkbox" name="27"/>
                          <label for="27">Клубника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="28"/>
                          <label for="28">Клюква</label>
                        </li>
                        <li>
                          <input type="checkbox" name="29"/>
                          <label for="29">Липа</label>
                        </li>
                        <li>
                          <input type="checkbox" name="30"/>
                          <label for="30">Мате</label>
                        </li>
                        <li>
                          <input type="checkbox" name="31"/>
                          <label for="31">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="32"/>
                          <label for="32">Календула</label>
                        </li>

                      </ul>
                      <ul class="property-values">
                        <li>Добавки</li>
                        <li>
                          <input type="checkbox" name="35"/>
                          <label for="35">Травы</label>
                        </li>
                        <li>
                          <input type="checkbox" name="36"/>
                          <label for="36">Цветы</label>
                        </li>
                        <li>
                          <input type="checkbox" name="37"/>
                          <label for="37">Фрукты</label>
                        </li>
                      </ul>
                    </div>
                    <!-- /right filter column-->
                    <span class="filter_results">
                    Найдено <span>13</span> товаров
                  </span>
                    <input type="button" class="filter-button" name="filter-button" value="Найти"/>
                  </form>
                </div>
              </div>
              <div class="shape filter-shape posuda">
                <div class="top-helper"></div>
                <div class="bottom-helper"></div>

                <div class="lb sprite-shape-vertical-pattern-corner-lb-filter"></div>
                <div class="rb sprite-shape-vertical-pattern-corner-rb-filter"></div>
                <div class="l sprite-shape-horizontal-pattern-filter-left-right"></div>

                <div class="r sprite-shape-horizontal-pattern-filter-left-right"></div>
                <div class="b sprite-shape-vertical-pattern-filter-top-bottom"></div>
                <div class="c">
                  <form class="flex-box" action="#" name="">
                    <div class="">
                      <ul class="property-values">
                        <li>Стиль</li>
                        <li>
                          <input type="checkbox" name="1"/>
                          <label for="1">Классическая</label>
                        </li>
                        <li>
                          <input type="checkbox" name="2"/>
                          <label for="2">Этно</label>
                        </li>

                      </ul>
                      <ul class="property-values">
                        <li>Степень качества</li>
                        <li>
                          <input type="checkbox" name="4"/>
                          <label for="4">BOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="5"/>
                          <label for="5">FOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="6"/>
                          <label for="6">GFOP</label>
                        </li>
                        <li>
                          <input type="checkbox" name="7"/>
                          <label for="7">OP</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>География</li>
                        <li>
                          <input type="checkbox" name="8"/>
                          <label for="8">Африканский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="9"/>
                          <label for="9">Европейский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="10"/>
                          <label for="10">Индийский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="11"/>
                          <label for="11">Китайский</label>
                        </li>
                        <li>
                          <input type="checkbox" name="12"/>
                          <label for="12">Цейлонский</label>
                        </li>
                      </ul>
                      <ul class="property-values">
                        <li>Вкусовые характеристики</li>
                        <li>
                          <input type="checkbox" name="13"/>
                          <label for="13">С ароматом жасмина</label>
                        </li>
                      </ul>
                    </div>
                    <!-- right filter column -->
                    <div class="">
                      <ul class="property-values">
                        <li>География</li>
                        <li>
                          <input type="checkbox" name="13"/>
                          <label for="12">Ананас</label>
                        </li>
                        <li>
                          <input type="checkbox" name="14"/>
                          <label for="14">Апельсин</label>
                        </li>
                        <li>
                          <input type="checkbox" name="15"/>
                          <label for="15">Вишня</label>
                        </li>
                        <li>
                          <input type="checkbox" name="16"/>
                          <label for="16">Гибискус</label>
                        </li>
                        <li>
                          <input type="checkbox" name="17"/>
                          <label for="17">Жасмин</label>
                        </li>
                        <li>
                          <input type="checkbox" name="18"/>
                          <label for="18">Женьшень</label>
                        </li>
                        <li>
                          <input type="checkbox" name="19"/>
                          <label for="19">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="20"/>
                          <label for="20">Календула</label>
                        </li>
                        <li>
                          <input type="checkbox" name="21"/>
                          <label for="21">Клубника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="22"/>
                          <label for="22">Клюква</label>
                        </li>
                        <li>
                          <input type="checkbox" name="23"/>
                          <label for="23">Липа</label>
                        </li>
                        <li>
                          <input type="checkbox" name="24"/>
                          <label for="24">Мате</label>
                        </li>

                        <li>
                          <input type="checkbox" name="25"/>
                          <label for="25">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="26"/>
                          <label for="26">Календула</label>
                        </li>
                        <li>
                          <input type="checkbox" name="27"/>
                          <label for="27">Клубника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="28"/>
                          <label for="28">Клюква</label>
                        </li>
                        <li>
                          <input type="checkbox" name="29"/>
                          <label for="29">Липа</label>
                        </li>
                        <li>
                          <input type="checkbox" name="30"/>
                          <label for="30">Мате</label>
                        </li>
                        <li>
                          <input type="checkbox" name="31"/>
                          <label for="31">Земляника</label>
                        </li>
                        <li>
                          <input type="checkbox" name="32"/>
                          <label for="32">Календула</label>
                        </li>

                      </ul>
                      <ul class="property-values">
                        <li>Добавки</li>
                        <li>
                          <input type="checkbox" name="35"/>
                          <label for="35">Травы</label>
                        </li>
                        <li>
                          <input type="checkbox" name="36"/>
                          <label for="36">Цветы</label>
                        </li>
                        <li>
                          <input type="checkbox" name="37"/>
                          <label for="37">Фрукты</label>
                        </li>
                      </ul>
                    </div>
                    <!-- /right filter column-->
                    <span class="filter_results">
                    Найдено <span>13</span> товаров
                  </span>
                    <input type="button" class="filter-button" name="Найти" value="Найти"/>
                  </form>
                </div>
              </div>

            </div>
            <div class="buttons-holder">
              <div class="button-search"><div class="tip">Поиск</div></div>
              <div class="button-close"></div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div id="content">
        <div class="town-select-block">
          <div class="phone">
            <a href="#" class="callback">Перезвоните мне</a>
          </div>
          <div class="town-select">
            <div>+7 861 201-90-62</div>
            <div>+7 800 250 05 56</div>
            <!--<select class="header-select" name="region-select">
              <option class="country" selected='selected'>Москва</option>
              <option class="country">Санкт-Петербург</option>
              <option class="country">Краснодар</option>
            </select>-->
          </div>
        </div>
        <div class="login-block">
          <a id="login" class="" href="#">Войти</a>
          <a id="register" class="" href="#">Регистрация</a>
          <div class="name">Здравствуйте, Константин Константинопольский</div>
          <div class="links">
            <a href="#">Личный кабинет</a> | <a href="#"> Выйти</a>
          </div>
        </div>
        <div class="basket">
          <div class="basket-icon"></div>
          <div class="basket-sum">11 570</div>
          <div class="wishlist-count">
            <span>2</span>
            <!--<div class="wishlist-tip">Отложенные товары</div>-->
          </div>
          <div class="basket-count">2</div>
        </div>


        <div class="content-holder">

            <div id="" class="shape inner-shape">
              <div class="lt sprite-shape-vertical-inner-lt"></div>
              <div class="rt sprite-shape-vertical-inner-rt"></div>
              <div class="lb sprite-shape-vertical-inner-lb"></div>
              <div class="rb sprite-shape-vertical-inner-rb"></div>
              <div class="l sprite-shape-horizontal-inner-left"></div>
              <div class="t sprite-shape-vertical-inner-top"></div>
              <div class="r sprite-shape-horizontal-inner-right"></div>
              <div class="b sprite-shape-vertical-inner-bottom"></div>
              <div class="c">
                <%= yield %>
              </div>
            </div>
        </div>
      </div>
      <div id="bottom">
        <div class="footer-holder">
          <div class="shape ios-shape <!--white-shape--> footer-shape">

          <div class="lt sprite-shape-vertical-white-corner-lt"></div>
          <div class="rt sprite-shape-vertical-white-corner-rt"></div>
          <div class="lb sprite-shape-vertical-white-corner-lb"></div>
          <div class="rb sprite-shape-vertical-white-corner-rb"></div>
          <div class="l sprite-shape-horizontal-white-left-right"></div>
          <div class="t sprite-shape-vertical-white-top-bottom"></div>
          <div class="r sprite-shape-horizontal-white-left-right"></div>
          <div class="b sprite-shape-vertical-white-top-bottom"></div>
            <div class="c">
              <div class="footer-left-block">
                <span>Русская чайная компания</span><br />
                Copyright © 2009–2014 Русская Чайная Компания
              </div>
              <div class="footer-right-block">
                Создание сайта&nbsp;
                <img src="<%= asset_path('melius.png')%>" />
                &nbsp; &nbsp;
                <img src="<%= asset_path('statistics.png')%>" />

              </div>

            </div>
        </div>
        </div>
      </div>
    </div>

<!-- Обратная связь -->
<div id="dialog">
  <div class="shape popup-shape">
    <div class="c">
      <h1>Обратная связь</h1>
      <div class="separator"></div>
      <form class="">
        <div class="mandatory">
            <input type="text"   value="" placeholder="Имя"/>
        </div>
        <div class="validation-succeeded">
            <input type="text"  value="+7 495 777-77-77" placeholder="Телефон"/>
        </div>
        <div class="mandatory">
            <textarea placeholder="Сообщение"></textarea>
        </div>
        <div class="mandatory">
          <select>
            <option>Обращение на общую тему</option>
            <option>В отдел логистики</option>
            <option>В отдел маркетинга</option>
            <option>В отдел продаж г. Москва</option>
            <option>В отдел продаж г. Санкт-Петербург</option>
            <option>В отдел продаж г. Казань</option>
            <option>В отдел продаж г. Тула</option>
            <option>В отдел продаж г. Краснодар</option>
          </select>
        </div>
        <div class="mandatory_notification">Поля, обазятельные для заполнения</div>
        <div class="captcha_block">
          <img src="<%= asset_path('captcha-image.png')%>" />
          <img src="<%= asset_path('icon-captcha-reload.png')%>" />
          <input type="text" placeholder="Введите слово с картинки"/>
        </div>
        <div class="button-holder">
          <button>Отправить</button>
        </div>
      </form>

    </div>
    <div class="lt sprite-shape-vertical-pattern-corner-lt-popup"></div>
    <div class="rt sprite-shape-vertical-pattern-corner-rt-popup"></div>
    <div class="lb sprite-shape-vertical-pattern-corner-lb-popup"></div>
    <div class="rb sprite-shape-vertical-pattern-corner-rb-popup"></div>
    <div class="l sprite-shape-horizontal-popup-left"></div>
    <div class="t sprite-shape-vertical-pattern-top-bottom-popup"></div>
    <div class="r sprite-shape-horizontal-popup-right"></div>
    <div class="b sprite-shape-vertical-pattern-top-bottom-popup"></div>
  </div>

</div>
    <!-- Обратный звонок -->
    <div id="dialog2">

      <div class="shape popup-shape">
        <div class="c">
          <h1>Заказ обратного звонка</h1>
          <div class="separator"></div>
          <form class="">
            <div class="validation-error mandatory">
              <input type="text"   value="" placeholder="Имя"/>
              <div class="mention-text error-text">Не введено имя</div>
            </div>
            <div class="validation-succeeded mandatory">
              <input type="text"  value="alexey@melius.ru" placeholder="Email"/>
            </div>
            <div class="">
              <input type="text"  value="" placeholder="Телефон"/>
            </div>
            <div class="mention-text ">Например: +7 495 77-77-77</div>
            <div class="mandatory">
              <select>
                <option>
                  Тип торговой точки
                </option>
                <option>
                  Магазин
                </option>
                <option>
                  Киоск
                </option>
                <option>
                  Площадь в ТЦ
                </option>
              </select>
              <select>
                <option>
                 Регион
                </option>
                <option>
                  Москва и область
                </option>
                <option>
                  Санкт-Петербург
                </option>
                <option>
                  Другие регионы
                </option>
              </select>
              <select>
                <option>
                  Откуда Вы узнали о нас
                </option>
                <option>
                  Yandex
                </option>
                <option>
                  Google
                </option>
                <option>
                  Печатная реклама
                </option>
                <option>
                  Реклама на телевидении
                </option>
                <option>
                  Социальные сети и сервисы
                </option>
                <option>
                  Другое
                </option>
              </select>
            </div>

            <div class="mandatory_notification">Поля, обазятельные для заполнения</div>
            <div class="captcha_block">
              <img src="<%= asset_path('captcha-image.png')%>" />
              <img src="<%= asset_path('icon-captcha-reload.png')%>" />
              <input type="text" placeholder="Введите слово с картинки"/>
            </div>
            <div class="button-holder">
              <button>Отправить</button>
            </div>
          </form>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-rt-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-lb-popup"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-rb-popup"></div>
        <div class="l sprite-shape-horizontal-popup-left"></div>
        <div class="t sprite-shape-vertical-pattern-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-popup-right"></div>
        <div class="b sprite-shape-vertical-pattern-top-bottom-popup"></div>
      </div>

    </div>
    <!-- Мне нравится -->
    <div id="dialog3">
      <div class="shape popup-shape popup-shape-w-footer">
        <div class="bottom-helper"></div>
        <div class="c">
          <h1>Мне нравится</h1>
          <div class="separator"></div>
          <form class="cart-form">
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                <div class="price">
                  <div class="note">
                    за 1.8кг
                  </div>
                  <div class="value ruble">9'410</div>

                </div>

                <div class="buy">
                  <button class="buy-button"></button>
                </div>
                <div class="amount">
                  <div class="note">
                    кол-во
                  </div>
                  <i class="minus"></i>
                  <input type="text" name="count" value="1">
                  <i class="plus"></i>
                </div>

              </div>
            </div>
            </div>
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                  <div class="price">
                    <div class="note">
                      за 1.8кг
                    </div>
                    <div class="value ruble">9'410</div>

                  </div>

                  <div class="buy">
                    <button class="buy-button"></button>
                  </div>
                  <div class="amount">
                    <div class="note">
                      кол-во
                    </div>
                    <i class="minus"></i>
                    <input type="text" name="count" value="1">
                    <i class="plus"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                  <div class="price">
                    <div class="note">
                      за 1.8кг
                    </div>
                    <div class="value ruble">9'410</div>

                  </div>

                  <div class="buy">
                    <button class="buy-button"></button>
                  </div>
                  <div class="amount">
                    <div class="note">
                      кол-во
                    </div>
                    <i class="minus"></i>
                    <input type="text" name="count" value="1">
                    <i class="plus"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                  <div class="price">
                    <div class="note">
                      за 1.8кг
                    </div>
                    <div class="value ruble">9'410</div>

                  </div>

                  <div class="buy">
                    <button class="buy-button"></button>
                  </div>
                  <div class="amount">
                    <div class="note">
                      кол-во
                    </div>
                    <i class="minus"></i>
                    <input type="text" name="count" value="1">
                    <i class="plus"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-footer">
              <div class="items-count">В корзине товаров на:</div>
              <div class="items-price ruble">9'410</div>
              <button>Оформить заказ</button>
            </div>
          </form>
          <div class="shadow"></div>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-rt-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-lb-popup-w-footer"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-rb-popup-w-footer"></div>
        <div class="l sprite-shape-horizontal-popup-left"></div>
        <div class="t sprite-shape-vertical-pattern-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-popup-right"></div>
        <div class="b sprite-shape-vertical-pattern-bottom-popup-w-footer"></div>
      </div>

    </div>
    <!-- Корзина -->
     <div id="dialog4">
      <div class="shape popup-shape popup-shape-w-footer">
        <div class="bottom-helper"></div>
        <div class="c">
          <h1>Корзина</h1>
          <div class="separator"></div>
          <form class="cart-form wo-buy-button-form">
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                  <div class="price">
                    <div class="note">
                      за 1.8кг
                    </div>
                    <div class="value ruble">9'410</div>

                  </div>


                  <div class="amount">
                    <div class="note">
                      кол-во
                    </div>
                    <i class="minus"></i>
                    <input type="text" name="count" value="1">
                    <i class="plus"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                  <div class="price">
                    <div class="note">
                      за 1.8кг
                    </div>
                    <div class="value ruble">9'410</div>

                  </div>

                  <div class="amount">
                    <div class="note">
                      кол-во
                    </div>
                    <i class="minus"></i>
                    <input type="text" name="count" value="1">
                    <i class="plus"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                  <div class="price">
                    <div class="note">
                      за 1.8кг
                    </div>
                    <div class="value ruble">9'410</div>
                  </div>
                  <div class="amount">
                    <div class="note">
                      кол-во
                    </div>
                    <i class="minus"></i>
                    <input type="text" name="count" value="1">
                    <i class="plus"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="cart-item">
              <img src="<%=image_url("cart-item-img.png")%>" />
              <div class="cart-item-details">
                <div class="name">Граф калиостро</div>
                <div class="articul">Артикул: 1772316</div>

                <div class="cart-options">
                  <div class="price">
                    <div class="note">
                      за 1.8кг
                    </div>
                    <div class="value ruble">9'410</div>
                  </div>

                  <div class="amount">
                    <div class="note">
                      кол-во
                    </div>
                    <i class="minus"></i>
                    <input type="text" name="count" value="1">
                    <i class="plus"></i>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-footer">
              <div class="items-count">В корзине товаров на:</div>
              <div class="items-price ruble">9'410</div>
              <button>Оформить заказ</button>
            </div>
          </form>
          <div class="shadow"></div>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-rt-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-lb-popup-w-footer"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-rb-popup-w-footer"></div>
        <div class="l sprite-shape-horizontal-popup-left"></div>
        <div class="t sprite-shape-vertical-pattern-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-popup-right"></div>
        <div class="b sprite-shape-vertical-pattern-bottom-popup-w-footer"></div>
      </div>

    </div>

    <div id="dialog5">

      <div class="shape popup-shape">
        <div class="c">
          <h1>Обратная связь</h1>
          <div class="separator"></div>
          <form class="">
            <div>
              <input type="text"   value="" placeholder="Имя"/>
            </div>
            <div class="validation-succeeded">
              <input type="text"  value="" placeholder="Адрес"/>
            </div>
            <div>
              <textarea placeholder="Сообщение"></textarea>
            </div>
            <div>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
              </select>
            </div>
            <div class="mandatory_notification">Поля, обазятельные для заполнения</div>
            <div class="captcha_block">
              <img src="<%= asset_path('captcha-image.png')%>" />
              <img src="<%= asset_path('icon-captcha-reload.png')%>" />
              <input type="text" placeholder="Введите слово с картинки"/>
            </div>
            <div class="button-holder">
              <button>Отправить</button>
            </div>
          </form>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-rt-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-lb-popup"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-rb-popup"></div>
        <div class="l sprite-shape-horizontal-popup-left"></div>
        <div class="t sprite-shape-vertical-pattern-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-popup-right"></div>
        <div class="b sprite-shape-vertical-pattern-top-bottom-popup"></div>
      </div>

    </div>

    <!-- Авторизация  -->
    <div id="dialog6">

      <div class="shape popup-shape auth-form">
        <div class="c">
          <h1>Авторизация</h1>
          <div class="separator"></div>
          <form class="">
            <div>
              <input type="text"   value="" placeholder="Логин"/>
            </div>
            <div>
              <input type="text"  value="" placeholder="Пароль"/>
            </div>
            <div class="login-options">
              <input type="checkbox" name="remember-me" id="remember-me"/>
              <label for="remember-me">Запомнить меня</label>
              <a href="#" class="registration">Регистрация</a>
              <a href="#" class="password-restore">Восстановить пароль</a>
            </div>
            <div class="button-holder">
              <button>Отправить</button>
            </div>
          </form>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-rt-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-lb-popup"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-rb-popup"></div>
        <div class="l sprite-shape-horizontal-popup-left"></div>
        <div class="t sprite-shape-vertical-pattern-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-popup-right"></div>
        <div class="b sprite-shape-vertical-pattern-top-bottom-popup"></div>
      </div>

    </div>
    <!-- Сообщение о успешной регистрации-->
    <div id="dialog7">
      <div class="shape popup-shape popup-message">
        <div class="c">
          <div class="sprite-common-icon-auth">

          </div>
          <div class="popup-message-header">Вы успешно зарегистрировались</div>
          <div class="popup-message-text">Можете продолжить как зарегистрированный пользователь</div>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-message-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-message-lb-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-message-lb-popup"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-message-lt-popup"></div>
        <div class="l sprite-shape-horizontal-pattern-message-left-right-popup"></div>
        <div class="t sprite-shape-vertical-pattern-message-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-pattern-message-left-right-popup"></div>
        <div class="b sprite-shape-vertical-pattern-message-top-bottom-popup"></div>
      </div>

    </div>
    <!-- Сообщение о успешнйо отпарвке -->
    <div id="dialog8">

      <div class="shape popup-shape popup-message">
        <div class="c">
          <div class="sprite-common-icon-success-responce">

          </div>
          <div class="popup-message-header">Вы успешно отправили сообщение</div>
          <div class="popup-message-text">И получите ответ в течении 24-х часов</div>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-message-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-message-lb-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-message-lb-popup"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-message-lt-popup"></div>
        <div class="l sprite-shape-horizontal-pattern-message-left-right-popup"></div>
        <div class="t sprite-shape-vertical-pattern-message-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-pattern-message-left-right-popup"></div>
        <div class="b sprite-shape-vertical-pattern-message-top-bottom-popup"></div>
      </div>

    </div>
    <!-- Регистрация -->
    <div id="dialog9">
      <div class="shape popup-shape">
        <div class="c">
          <h1>Регистрация</h1>
          <div class="separator"></div>
          <form class="">
            <div class="mandatory">
              <select>
                <option>Розничный покупатель</option>
                <option>Оптовый покупатель</option>
              </select>
            </div>
            <div class="validation-succeeded mandatory">
              <input type="text"   value="Алексей" placeholder="Имя"/>
            </div>
            <div class="validation-succeeded mandatory">
              <input type="text"  value="+7 495 777-77-77" placeholder="Фамилия"/>
              <div class="mention-text ">Например: +7 495 77-77-77</div>
            </div>
            <div class="mandatory">
              <input type="text"  value="" placeholder="Логин"/>
            </div>
            <div class="mandatory">
              <input type="text"  value="" placeholder="Пароль"/>
            </div>
            <div class="mandatory">
              <input type="text"  value="" placeholder="Подтверждение пароля"/>
            </div>
            <div class="">
              <input type="text"  value="" placeholder="Email"/>
            </div>

            <div class="mandatory_notification">Поля, обазятельные для заполнения</div>
            <div class="captcha_block">
              <img src="<%= asset_path('captcha-image.png')%>" />
              <img src="<%= asset_path('icon-captcha-reload.png')%>" />
              <input type="text" placeholder="Введите слово с картинки"/>
            </div>
            <div class="button-holder">
              <button>Отправить</button>
            </div>
          </form>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-rt-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-lb-popup"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-rb-popup"></div>
        <div class="l sprite-shape-horizontal-popup-left"></div>
        <div class="t sprite-shape-vertical-pattern-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-popup-right"></div>
        <div class="b sprite-shape-vertical-pattern-top-bottom-popup"></div>
      </div>

    </div>
    <!-- Сообщение о добавлении в корзину  -->
    <div id="dialog10">

      <div class="shape popup-shape popup-message">
        <div class="c">
          <div class="sprite-common-icon-success-responce">

          </div>
          <div class="popup-message-header">Товар добавлен в корзину</div>
          <div class="popup-message-text">Можете прожолжить покупки или сделать заказ</div>

        </div>
        <div class="lt sprite-shape-vertical-pattern-corner-message-lt-popup"></div>
        <div class="rt sprite-shape-vertical-pattern-corner-message-lb-popup"></div>
        <div class="lb sprite-shape-vertical-pattern-corner-message-lb-popup"></div>
        <div class="rb sprite-shape-vertical-pattern-corner-message-lt-popup"></div>
        <div class="l sprite-shape-horizontal-pattern-message-left-right-popup"></div>
        <div class="t sprite-shape-vertical-pattern-message-top-bottom-popup"></div>
        <div class="r sprite-shape-horizontal-pattern-message-left-right-popup"></div>
        <div class="b sprite-shape-vertical-pattern-message-top-bottom-popup"></div>
      </div>

    </div>
</body>
</html>
